In [6]:
import pandas as pd
import numpy as np

In [7]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [8]:
df = pd.DataFrame(people)

In [9]:
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [11]:
# dropna() method: by default, will drop the rows wich contains missing values.
df.dropna()

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [18]:
# dropna() parameters: 
df.dropna(axis="index", how="any", subset=["email"]) 

"""axis="index", will remove the rows with missing values.
 If you switch that to columns, (axis="columns") they will be removed instead.

 The how parameter determine what type of data will be removed. By default its any, but you can also change that to how="all" and just the rows/columns with all missing values will be removed.
 
 The subset parameter will drop just the rows/columns with missing values in that specified column(s)."""

'axis="index", will remove the rows with missing values.\n If you switch that to columns, (axis="columns") they will be removed instead.\n\n The how parameter determine what type of data will be removed. By default its any, but you can also change that to how="all" and just the rows/columns with all missing values will be removed.\n \n The subset parameter will drop just the rows/columns with missing values in that specified column(s).'